* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}    

body{
    background-color: rgba(29, 95, 95, 0.473); 
    font-family: 'Hind Siliguri', sans-serif;
}

.container-buttons{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.on{
    background-color: #2c52d1;
}

.container-buttons>span{
    color: #264653;
    background-color: #2c52d1;
    padding: 10px 30px;
    margin: 0 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .1s ease;
}
span:hover{
    box-shadow: 0px 0px 5px 2px white;
    color: white;
}

#gridcontainer{
    margin: 0 auto;
 display: flex;
 flex-wrap: wrap;

}
#gridcontainer.livello-1{
    width: 500px;
}
#gridcontainer.livello-2{
    width: 450px;
}
#gridcontainer.livello-3{
    width: 350px;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border:1px solid black;
}

.easy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border:5px solid black;
}
.medium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 9);
    height: calc(100% / 9);
    border:5px solid black;
}
.hard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    height: calc(100% / 7);
    border:5px solid rgb(36, 35, 35);
}