*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    font-family: 'Hind Siliguri', sans-serif;
}
.container-buttons{
    display: flex;
    justify-content: center;
}
.container-buttons>span{
    margin:20px;
    background-color: white;
    color:black;
    border:1px solid green;
    border-radius:10px;
    padding:2px 2px;
}